.center_view {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  gap: 1rem;
  min-height: 80vh;
  flex: 1;
}

 .first_content {
  background-color: rgb(32, 128, 32); 
  flex-grow: 6;     
}

.second_content {
  background-color: rgb(78, 190, 255);  
  flex-grow: 10;  
  
}     

.last_content {
  background-color: #ffc0cb;  
  flex: 1 0 100%;   
}